body {
   background-color: rgb(233, 233, 233);  
   background-image: linear-gradient(rgb(227, 243, 242), rgb(142, 192, 221));
    height: 200vh;
  }



h1 {
    color: rgb(36, 72, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
}

.paragraph1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;


}